html, body
  padding 0
  margin 0

svg
  border 1px solid rgb(213, 226, 237)
  margin-top -1px

  &.space
    border none

body
  margin 20px
  font 10px sans-serif

line
  stroke black

text
  fill rgb(20, 44, 88)

path
  fill none
  stroke black
  &.primary
    stroke rgb(20, 44, 88)
    stroke-width 2

  &.secondary
    stroke-dasharray 10, 10
    stroke rgb(20, 44, 88)
    stroke-width 2